<!DOCTYPE html>
<html lang="en">

<head>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Allan&display=swap" rel="stylesheet">

  <title>Wavelength</title>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <meta name="viewport" content="width = device-width, initial-scale = 1">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Faster+One&family=Lily+Script+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
  </script>
  <link rel="stylesheet" src="/views/css/styles.css">
</head>

<body>
  <h1 class="title"><a href="/" class="home">Wavelength</a></h1>

  {{{ body }}}
</body>
<style>
  h1.title {
    text-align: center;
    font-family: 'Faster One', cursive;
    color: rgb(238, 12, 170);
    font-size: 120px;
  }
  a.home {
    color: rgb(255, 4, 159);
  }


</style>

</html>