    <div class='container'>
<div class="row">
    <div class="col valign-wrapper"><span class="flow-text">


    <div class="row">
    <div class="col valign-wrapper"><span class="flow-text">
        <div class="card">
            <div class="card-content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam ex veniam magnam cumque modi, quo deserunt aliquid sint cum voluptates, mollitia eum vel dicta quibusdam pariatur tempore, molestiae autem nemo.</p>
            </div>
            <div class="card-action">
            <a class="waves-effect waves btn-large startBtn" href="../views/all-songs.handlebars">GET STARTED</a>
            </div>
        </div>
      </span>   
    </div>
  </div>
    </div>


<style>
    body{
    background-image: URL(https://images.wallpapersden.com/image/download/synthwave-and-retrowave_a2tpbmyUmZqaraWkpJRobWllrWdma2U.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    }
    .card-action{
        text-align: center;
    }
    .card{
        margin-top: 15%;
        background-color:rgba(0, 0, 0, 0.5);
        color:#30d7a9;
         text-shadow: 2px 2px #2600ff;
    }
    .card .card-action a{
        background-color:rgb(199, 87, 209);
        color:#eb700c;
        font-weight: bold;
    }
</style>

