

<!DOCTYPE html>
<html>
   <head>
      <title>The Materialize Example</title>
       <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            
      <meta name = "viewport" content = "width = device-width, initial-scale = 1">      
      <link rel = "stylesheet"
         href = "https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel = "stylesheet"
         href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
      <script type = "text/javascript"
         src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>           
      <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
      </script>
      {{!-- <link rel = "stylesheet"
         href="/public/assets/css/styles.css">              --}}
   </head>
   
   <body>
    <div class='container'>
<div class="row">
    <div class="title">
        WAVELENGTH
    </div>


    <div class="row">
    <div class="col valign-wrapper"><span class="flow-text">
        <div class="card">
            <div class="card-content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam ex veniam magnam cumque modi, quo deserunt aliquid sint cum voluptates, mollitia eum vel dicta quibusdam pariatur tempore, molestiae autem nemo.</p>
            </div>
        </div>
    <div class="start">
        <p><a class="waves-effect waves-yellow btn-large startBtn" href="../views/all-songs.handlebars">GET STARTED</a>
        </p>
    </div>
  </div>
    </div>
   </body>
</html>

<style>
    body{
    background: url(https://wallpaperaccess.com/full/4317958.jpg) no-repeat fixed center;
    background-size: cover;
    }
    .card-action{
        text-align: center;
    }
    .card{
        margin-top: 10%;
        opacity: 0.5;
    }
    .card-action{
        opacity: 1;
    }
    .title{
        text-align: center;
        margin-top: 15%;
        color:violet;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-weight: bold;
        font-size: 125px;
    }
    .startBtn{
        background-color: violet;   
    }
    .start{
        text-align: center;
    }
</style>

