<h1>WAVELENGTH</h1>



<footer class="page-footer" style="position:fixed;bottom:0;left:0;width:100%">
    <div class="container">
        <div class="row">
            <div class="center-align">
                <a class="waves-effect waves-yellow btn-large startBtn" href="/songs">View All
                    Songs</a>
                <a class="waves-effect waves-yellow btn-large startBtn" href="/songs/new">Submit A
                    Song</a>
                <a class="waves-effect waves-yellow btn-large startBtn" href="/top-songs">View Top Rated Songs</a>
                </p>
            </div>
        </div>
    </div>
</footer>


<style>
    body {
        background: url(https://images.hdqwalls.com/wallpapers/synthwave-sun-mountains-4k-op.jpg) no-repeat fixed center;
        background-size: cover;
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }

    h1 {
        text-align: center;
        font-family: 'Faster One', cursive;
        color: rgb(238, 12, 170);
        font-size: 120px;
    }

    footer.page-footer {
        background-color: rgba(107, 12, 196, 0);
    }

    main {
        flex: 1 0 auto;
    }

    .startBtn {
        opacity: unset;
    }
</style>