<div class='container'>
    <div class="row">
        <div class="col valign-wrapper"><span class="flow-text">


                <div class="row">
                    <div class="col valign-wrapper"><span class="flow-text">
                            <div class="card">
                                <div class="card-content">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam ex veniam magnam
                                        cumque modi, quo deserunt aliquid sint cum voluptates, mollitia eum vel dicta
                                        quibusdam pariatur tempore, molestiae autem nemo.</p>
                                </div>
                                <div class="card-action">
                                    <a class="waves-effect waves-yellow btn-large startBtn" href="/songs">View All
                                        Songs</a>
                                    <a class="waves-effect waves-yellow btn-large startBtn" href="/songs/new">Submit A Song</a>

                                </div>
                            </div>
                        </span>
                    </div>
                </div>
        </div>


        <style>
            body {
                background: url(https://wallpaperaccess.com/full/4317958.jpg) no-repeat fixed center;
                background-size: cover;
            }

            .card-action {
                text-align: center;
            }

            .card {
                margin-top: 25%;
                opacity: 0.5;
            }

            .startBtn {
                opacity: unset;
            }
        </style>