
    <h1>Wavelength!</h1>

<div class="row">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <input id="song_name" type="text" class="validate">
                <label for="song_name"></label>Song Name
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="artist_name" type="text" class="validate">
                <label for="artist_name"></label>Artist Name
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="spotify_URI" type="text" class="validate">
                <label for="spotify_URI"></label>Spotify URI
            </div>
        </div>

    </form>
</div>
<button class="btn waves-effect waves-light" type="submit" name="action" id="submit-button">Submit
    <i class="material-icons right">send</i>
</button>


<style>
        body {
                background: url(https://wallpapercave.com/wp/wp2343919.jpg) no-repeat fixed center;
                background-size: cover;
            }

</style>

<script>




    $(document).ready(function () {
        var songName = $("#song_name");
        var artistName = $("#artist_name");
        var spotifyURI = $("#spotify_URI");
        var submitButton = $("#submit-button");

        submitButton.on("click", function (event) {
            event.preventDefault();
            spotifyCode = $("#spotify_URI").val();
            spotify_URI = spotifyCode.substring(14);

            const song = {
                title: $("#song_name").val(),
                artist: $("#artist_name").val(),
                url: spotify_URI
            };
            $.ajax({
                url: "/api/songs",
                method: "POST",
                data: song
            }).then(response => {
                console.log(response);
                window.location.href = "/songs"
            }).catch(err => {
                console.log(err);
            })
        });
    });
</script>
