<h1 class="title">WAVELENGTH</h1>

<div class="row">
  <div class="col s2"></div>
  <div class="col s8">
    <div class="card">
      <div class="card-content">
        {{#each songs}}
        <h1><a href="/songs/{{id}}">"{{title}}"</a></h1>
        <h2>{{artist}}</h2>
        <h2>Likes: {{rating}}</h2>
        <br>
        {{/each}}
      </div>
    </div>
  </div>
</div>


<style>
  body {
    background-image: URL(https://images.wallpapersden.com/image/download/synthwave-and-retrowave_a2tpbmyUmZqaraWkpJRobWllrWdma2U.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

      h1.title {
        text-align: center;
        font-family: 'Faster One', cursive;
        color: rgb(238, 12, 170);
        font-size: 120px;
    }

  .card {
    text-align: center;
    margin: 0% 20% 0% 20%;
    background-color: rgba(0, 0, 0, 0.842);
    color: #30d7a9;
  }
</style>